* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey700: hsl(0, 0%, 20%);
  --Grey800: hsl(0, 0%, 12%);
  --Grey900: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-weight: 600;
  font-weight: 700;
}

body {
  background-color: var(--Grey900);
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--Grey800);
  border-radius: 10px;
  width: 100%;
  padding: 3rem;
}

.card-header {
  display: grid;
  place-items: center;
  gap: 10px;
}

.card-header img {
  border-radius: 100%;
  width: 100px;
}

.name {
  font-size: 26px;
  font-weight: 600;
  color: var(--White);
  margin-top: 1rem;
}

.location {
  font-size: 14px;
  color: var(--Green);
  font-weight: 600;
}

.bio {
  font-size: 16px;
  color: var(--White);
  font-weight: 400;
  padding: 1rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
}

.social-links-card {
  list-style: none;
  background-color: var(--Grey700);
  border-radius: 10px;
  padding: 1rem 0px;
  text-decoration: none;
  color: var(--White);
  font-size: 14px;
}

.social-links-card a {
  text-decoration: none;
  color: inherit;
}

.social-links-card:hover {
  list-style: none;
  background-color: var(--Green);
  border-radius: 10px;
  padding: 1rem 0px;
  color: var(--Grey800);
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 375px) and (max-width: 480px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 330px;
    padding: 1.5rem;
  }
  .card-header img {
    width: 80px;
  }

  .name {
    font-size: 22px;
  }

  .location {
    font-size: 12px;
  }

  .bio {
    font-size: 12px;
    padding: 0.5rem;
  }

  .social-links {
    gap: 15px;
  }

  .social-links-card {
    font-size: 12px;
    padding: 0.8rem 0;
    font-weight: 600;
  }

  .social-links-card:hover {
    font-size: 12px;
    padding: 0.8rem 0;
  }
}
